﻿@model IEnumerable<ZSoft.UI.ViewModels.ProductoViewModel>


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4">
                <h1>Administrar Productos</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content pt-2">

    <!-- /.content -->
    <div class="row">
        <div class="col-12">
            <div class="card card-productos">
                <div class="card-header">
                    <div class="row justify-content-between pt-3">
                        <div class="col-sm-2">
                            <a class="btn btn-primary btn-block">Crear Producto</a>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group pt-1">
                                <input type="text" class="form-control" id="inputBuscarProducto" placeholder="Buscar producto">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio Costo</th>
                                <th>Precio Venta</th>
                                <th>Categoría</th>
                                <th>Marca</th>
                            </tr>
                        </thead>
                        <tbody id="tableBodyPorductos">

                            @foreach (var producto in Model)
                            {
                            <tr>
                                <td>@producto.Nombre</td>
                                <td>@producto.PrecioCosto</td>
                                <td>@producto.PrecioVenta</td>
                                <td><span class="tag tag-success">@producto.Categoria</span></td>
                                <td>@producto.Marca</td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>


@section scripts{



}