﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Collapsed Sidebar</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">*@
    <link rel="stylesheet" href="~/adminLte/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    @*<link rel="stylesheet" href="../../dist/css/adminlte.min.css">*@
    <link rel="stylesheet" href="~/adminLte/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/adminLte/plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="~/adminLte/plugins/jsgrid/jsgrid-theme.min.css">

    <link rel="stylesheet" href="~/css/site.css">
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- Navbar -->
        <partial name="_NavBar" />
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <partial name="_SideBar" />
        <!-- /.Sidebar-->
        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->


        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.1.0-rc
            </div>
            <strong>ZSoft &copy; @DateTime.Now.Year <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    @*<script src="../../plugins/jquery/jquery.min.js"></script>*@
    <script src="~/adminLte/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->
    @*<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/adminLte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    @*<script src="../../dist/js/adminlte.min.js"></script>*@
    <script src="~/adminLte/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="../../dist/js/demo.js"></script>*@
    <script src="~/adminLte/dist/js/demo.js"></script>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/adminLte/plugins/jsgrid/demos/db.js"></script>

    <script src="~/adminLte/plugins/jsgrid/jsgrid.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

